<div>
	<div class="subfooter">
		<div>
			<h2>Kontakt</h2>
		</div>
		<div>
			Društvo Ekologi brez meja<br>
			info@ocistimo.si<br>
			040 255 433
		</div>
	</div>
	<div class="subfooter">
		<div>
			<h2>Spremljaj</h2>
		</div>
		<div class="smicons">
			<a href="https://www.facebook.com/Ekologibrezmeja" style="background-image: url('assets/img/icons/fb.svg')" aria-label="Facebook profil"  target="_blank" rel="noopener"></a>
			<a href="https://twitter.com/ocistimo" style="background-image: url('assets/img/icons/twitter.svg')" aria-label="Twitter profil"  target="_blank" rel="noopener"></a>
			<a href="https://www.linkedin.com/company/ecologists-without-borders-association" style="background-image: url('assets/img/icons/linked.svg')" aria-label="LinkedIn profil"  target="_blank" rel="noopener"></a>
			<a href="https://www.youtube.com/user/ocistimo"  style="background-image: url('assets/img/icons/yt.svg')" aria-label="Youtube profil"  target="_blank" rel="noopener"></a>
			<a href="https://www.tiktok.com/@ekologibrezmeja" style="background-image: url('assets/img/icons/tiktok.svg')" aria-label="TikTok profil"  target="_blank" rel="noopener"></a>
			<a href="https://www.instagram.com/ekologibrezmeja/" style="background-image: url('assets/img/icons/insta.svg')" aria-label="Instagram profil"  target="_blank" rel="noopener"></a>
		</div>
		<div>
			<form id="subs">
				<input type="email" name="email" placeholder="Vaš e-poštni naslov" required=" autocomplete="email">
				<input type="hidden" name="gid" value="199">
				<input type="hidden" name="source" value="DCD stran">
				<input type="submit" name="submit" value="Prijava na novice">
			</form>
			<div id="gdpr" aria-label="GDPR disclaimer">
				S prijavo potrjujem, da sem prebrala <a href="https://ebm.si/politika-varovanja-osebnih-podatkov" target="_blank" rel="noopener">politiko zasebnosti</a> in
				<br>društvu Ekologi brez meja dajem soglasje za informiranje preko e-pošte.
			</div>
		</div>
	</div>
	<div class="subfooter">
		<img src="assets/img/logota.webp" width="400" height="178" alt="logota organizatorjev" aria-hidden="true">
	</div>
</div>
