{% comment %}
 good overview source on a11y for menus: https://get-evinced.com/blog/a11y-nav-menus/
{% endcomment %}

<input type="checkbox" id="responsive-menu" onclick="updatemenu()" aria-hidden="true"><label></label>
<ul class="" role="menu">
{%- for item in include.collection -%}
  {%- if item.entries -%}
    <li role="none">
      <a href="{{ item.url }}" class="dropdown-arrow" href="#" role="button" aria-haspopup="true" role="menuitem">{{ item.title }}</a>
      <ul class="sub-menus">
      {%- for subitem in item.entries -%}
        <li>
          <a href="{{ subitem.url }}" role="menuitem">{{ subitem.title }}</a>
        </li>
      {%- endfor -%}
      </ul>
  {%- else -%}
    <li role="none">
      <a href="{{ item.url }}" role="menuitem">{{ item.title }}</a>
  {%- endif -%}
    </li>

{%- endfor -%}
</ul>
