footer {
  min-height: 100px;
  background: $violaTemna 0% 0% no-repeat padding-box;
  background: $violaTemna 0% 0% no-repeat padding-box;
  @include curvyEdge();
  opacity: 1;
  padding: 0em 1em;
  color: $sivaSvetla;
  font-size: 1.4em;
  padding-top: 2em;
  div {
    //border: 1px solid green;
    line-height: 1.2em;
  }
  & > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center; // vertical
    div {
      min-width: 25%;
    }
  }
  h2 {
    margin-top: 0;
    margin-bottom: 0.5em;
  }
  form {
    margin-top: 0.5em;
  }
  input {
    border-radius: 25px;
    height: 37px;
  }
  input[type="submit"] {
    background-color: $rdecaZiva;
    color: $sivaSvetla;
  }
}
.subfooter {
  padding-bottom: 2em;
}

// TODO: skrij za manjši media queryje?
#sedecko {
  position: relative;
  top: 85px;
  left: 60px;
}
#sedeckopad {
  min-width: 95px; // širina slike
}
