// vogali v originalnem mockupu, zakodirani spodaj v svg
$violaTemna: rgba(59, 57, 145, 1); // #3b3991
$viola: rgba(89, 88, 196, 1); // #5958c4
$sivaSvetla: rgba(229, 231, 239, 1); //#e5e7ef
$rdecaUstna: rgba(204, 106, 114, 1); // #cc6a72
$rdecaZiva: #e52990;

// responsive breakpoints
$width0: 500px;
$width1: 1000px;
$width2: 1300px;
$widthLogo1: 500px;
$widthLogo2: 1200px;
$widthH1: 1150px;
