---
---
@import 'vars';

.formcont {
	display: none;
}

.oddaj {
	max-width: 30em;
	margin: 0 auto;

	form > div {
		margin-bottom: 1em;
	}

	label {
		display: inline-block;
		margin-right: 1rem;
	}

	.dataform-radio-inline label {
		vertical-align: middle;
	}

	input[type="checkbox"],
	input[type="radio"] {
		width: 1.2rem;
		height: 1.2rem;
		vertical-align: middle;
	}

	.radio-group {
		display: flex;
	}
	.number-units {
		display: flex;
		column-gap: 1rem;
	}

	input[type="number"] {
		font-size: 1rem;
		padding-left: 0.5rem;
		width: 5rem;
	}

	input[type="submit"] {
		line-height: 1rem;
		margin-top: 1rem;
	}
	button {
		margin-top: 1rem;
		position: relative;
		&:disabled {
			background-color: grey;
		}
		&:disabled::after {
			// spinner used under MIT from https://github.com/n3r4zzurr0/svg-spinners
			content: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMTIsMjNhOS42Myw5LjYzLDAsMCwxLTgtOS41LDkuNTEsOS41MSwwLDAsMSw2Ljc5LTkuMUExLjY2LDEuNjYsMCwwLDAsMTIsMi44MWgwYTEuNjcsMS42NywwLDAsMC0xLjk0LTEuNjRBMTEsMTEsMCwwLDAsMTIsMjNaIiAgZmlsbD0iI0ZGRkZGRiI+PGFuaW1hdGVUcmFuc2Zvcm0gYXR0cmlidXRlTmFtZT0idHJhbnNmb3JtIiB0eXBlPSJyb3RhdGUiIGR1cj0iMC43NXMiIHZhbHVlcz0iMCAxMiAxMjszNjAgMTIgMTIiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIi8+PC9wYXRoPjwvc3ZnPg==');
			margin-left: 1rem;
			position: absolute;
			top: 1em;
		}
	}

	input[type="text"] {
		@media (max-width: $widthTA) {
			box-sizing: border-box;
			width: 100%;
		}
	}

	textarea {
		@media (max-width: $widthTA) {
			box-sizing: border-box;
			width: 100%;
		}
	}

	.vprasanje {
		display: block;
		margin: 1rem 0 0.2rem;
		font-weight: bold;
	}
}
#formConfirm {
	max-width: 30em;
	margin: 0 auto;
}

.tooltip {
	position:relative;
	border-bottom:1px dashed #000;
}
.tooltip:before {
	content: attr(data-text);

	// center vertically, right-align
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 100%;
	margin-left: 15px;
	
	width: 200px;
	padding: 0.5rem;
	border-radius: 10px;
	background: $rdecaZiva;
	color: white;
	text-align: center;
	
	display: none;
}
.tooltip:hover:before {
	display: block;
}
