<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    {% assign description = "Spletna stran projekta Očistimo Slovenijo digitalnih odpadkov" %}
    <meta name="description" content="{{ description }}">
    <meta name="og:description" content="{{ page.meta-description | default: description }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link rel="icon" href="favicon.ico" sizes="48x48" >
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <link rel="manifest" href="site.webmanifest">
    <link rel="mask-icon" href="safari-pinned-tab.svg" color="#cc6a72">
    <meta name="msapplication-TileColor" content="#9f00a7">
    <meta name="theme-color" content="#ffffff">

    {% if page.title %}
      {% assign title = page.title | append: " - " | append: site.title %}
    {% else %}
      {% assign title = site.title %}
    {% endif %}
    <title>{{ title }}</title>
    <meta property="og:title" content="{{ page.meta-title | default: title }}" >
    <meta property="og:image" content="{{ page.meta-image | default: "/assets/img/dcd-si-kv.webp" | absolute_url }}" >
    <meta property="og:type" content="article" >

    <link rel="stylesheet" href="assets/css/main.css">
    {% if page.css %}
      <link rel="stylesheet" href="{{ "assets/css/" | append: page.css }}">
    {% endif %}
    <link rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=Barlow:wght@400;500&display=swap" onload="this.rel='stylesheet'" >
    <noscript><link href="https://fonts.googleapis.com/css2?family=Barlow:wght@400;500&display=swap" rel="stylesheet"></noscript>

  </head>
  <body a="auto">
    <a href="{{ site.baseurl | append: "/" }}" tabindex="-1" aria-hidden="true">
      <img id="logoglav" src="assets/img/sedecko.webp" width="50" height="92" alt="okrasna slika za meni" tabindex="-1" aria-hidden="true">
    </a>
    <nav id="menu">
      {%- include mainmenu.html -%}
    </nav>

    {% if page.nebelezi != 1 %}
    <div class="submitData" role="navigation" aria-label="Povezava na stran za oddajo rezultatov">
      <a href="zabelezi-rezultate.html">{{ site.data.text.submitResults }}</a>
    </div>
    {% endif %}

    <div role="banner">
    {% if page.banner %}
      <h1>{{ page.banner }}</h1>
    {% else %}
      <h1>{{ site.data.text.mainTitle }}</h1>
    {% endif %}
    </div>

    <main aria-label="Glavna vsebina">
      <div class="container">
        {{ content }}
      </div>
    </main>

    <img id="sedecko" src="assets/img/sedecko.webp" width="95" height="174" alt="sedeči mož" aria-hidden="true">
    <footer>
      {%- include footer.html -%}
    </footer>
    <div id="postfoot" role="complementary">
      {% assign co2 = page.co2 | default: "0,02" %}
      Obisk te strani je povzročil približno <a href="odtis-strani.html">{{ co2 }} g izpustov CO<sub>2</sub>eq</a>
    </div>
    <script src="assets/js/main.js" async></script>
  </body>
</html>
