<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    {% if page.title %}
      <title>{{ page.title }} - {{ site.title }}</title>
    {% else %}
      <title>{{ site.title }}</title>
    {% endif %}
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <script src="assets/js/main.js"></script>
  </head>
  <body a="auto">
    <nav id="menu">
      {%- include mainmenu.html -%}
    </nav>

    <div class="submitData">
      <a href="#">{{ site.data.text.submitResults }}</a>
    </div>

    <h1>{{ site.data.text.mainTitle }}</h1>

    <div class="container">
      {{ content }}
    </div>

    <img id="sedecko" src="{{ "/assets/img/sedecko.png" | relative_url }}" alt="sedeči mož" aria-hidden="true">
    <footer>
      {% include footer.html %}
    </footer>
  </body>
</html>
